#bear {
    position: absolute;
    left: 100px;
    /*top: 240px;*/
    width: 100px;
    height: 160px
}

#board {
    position: absolute;
    height: 600px;
    width: 1200px;
    background:url(./images/Background.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-content: center;
    align-self: center;
}

#title {
    align-content: center;
    align-self: center;
    background:url(./images/treeBackground.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#scores {
    background-color: rgb(247, 134, 241);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
}

#beeGif, #bearGif {
    width: 100px;
    height: 100px;
}